<div class="skript-widget skript-widget--aside qhm-widget">
    <div class="widget-controls">
        <div class="widget-row">
            <label>$ x_0 $ = <span class="qhm-x0Wert">1</span></label>
            <input type="range" class="qhm-x0Slider" min="-2.5" max="2.5" step="0.1" value="1">
        </div>
        <div class="widget-row">
            <label>$ h $ = <span class="qhm-hWert">1</span></label>
            <input type="range" class="qhm-hSlider" min="-2" max="2" step="0.1" value="1">
        </div>
        <div class="widget-row widget-row--center">
            <span class="qhm-punktDisplay"></span>
        </div>
        <div class="widget-row widget-row--center">
            <div class="qhm-formulaDisplay"></div>
        </div>
        <div class="widget-info qhm-info"></div>
    </div>

    <div class="widget-outputs">
        <div class="qhm-plotGraph diagramm"></div>
    </div>
</div>