<!-- Firebase App (der Core von Firebase) -->
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-app-compat.js"></script>

<!-- Füge hier die Firebase-Produkte hinzu, die du nutzen möchtest -->
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-auth-compat.js"></script>

<script>
  // Deine Firebase-Konfiguration
  // Diese Werte bekommst du aus der Firebase Console unter Projekteinstellungen
  const firebaseConfig = {
    apiKey: "AIzaSyBqjhqgl1fJSgr5qwTjzplA8tO8gZfKZsc",
    authDomain: "mathechecks-c1e86.firebaseapp.com",
    projectId: "mathechecks-c1e86",
    storageBucket: "mathechecks-c1e86.appspot.com",
    messagingSenderId: "352100850694",
    appId: "1:352100850694:web:70ca5dfece2f7a68ebb787",
    measurementId: "G-ZVSKFHE5F2",
  };

  // Firebase initialisieren
  firebase.initializeApp(firebaseConfig);

  // Referenzen für einfacheren Zugriff
  const db = firebase.firestore();
  const auth = firebase.auth();
</script>

<!-- FirebaseUI einbinden -->
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.css" />
<script src="https://www.gstatic.com/firebasejs/ui/6.0.2/firebase-ui-auth.js"></script>

<!-- Container für die Login-Maske -->
<div id="firebaseui-auth-container" class="hidden"></div>

<!-- FirebaseUI starten -->
<script>
  // ui starten
  const ui = new firebaseui.auth.AuthUI(auth);
  ui.start("#firebaseui-auth-container", {
    signInOptions: [
      {
        provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
        requireDisplayName: false,
      },
    ],
    signInSuccessUrl: "/index.html",
  });

  function toggleAccountMenu() {
    authContainer = document.getElementById("firebaseui-auth-container");
    authContainer.classList.toggle("hidden");
  }

  auth.onAuthStateChanged((user) => {
    const accountButton = document.getElementById("account");
    const indicator = document.getElementById("account-status-indicator");

    if (user) {
      // Nutzer ist eingeloggt
      accountButton.classList.add("logged-in");
      accountButton.classList.remove("logged-out");
      indicator.title = `Eingeloggt als ${user.email}`;
    } else {
      // Nutzer ist ausgeloggt
      accountButton.classList.add("logged-out");
      accountButton.classList.remove("logged-in");
      indicator.title = "Nicht eingeloggt";
    }
  });


</script>