<!-- Firebase App (der Core von Firebase) -->
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-app-compat.js"></script>

<!-- Füge hier die Firebase-Produkte hinzu, die du nutzen möchtest -->
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.5.2/firebase-auth-compat.js"></script>

<script>
  // Deine Firebase-Konfiguration
  // Diese Werte bekommst du aus der Firebase Console unter Projekteinstellungen
  const firebaseConfig = {
    apiKey: "AIzaSyBqjhqgl1fJSgr5qwTjzplA8tO8gZfKZsc",
    authDomain: "mathechecks-c1e86.firebaseapp.com",
    projectId: "mathechecks-c1e86",
    storageBucket: "mathechecks-c1e86.appspot.com",
    messagingSenderId: "352100850694",
    appId: "1:352100850694:web:70ca5dfece2f7a68ebb787",
    measurementId: "G-ZVSKFHE5F2",
  };

  // Firebase initialisieren
  firebase.initializeApp(firebaseConfig);

  // Referenzen für einfacheren Zugriff
  const db = firebase.firestore();
  const auth = firebase.auth();
</script>
