<footer>
    <p>
        &copy; 2026 Dr. Sven Führing
        <i class="fas fa-envelope icon mail-icon" title="Kontakt" style="margin-left:5px; cursor:pointer;"
            onclick="window.location.href='mailto:mathechecks@gmail.com'"></i>
        <i class="fa-brands fa-creative-commons icon" title="CC-Lizenz" style="margin-left:0.5em; cursor:pointer;"
            onclick="window.open('https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.de', '_blank')"></i>
        <i class="fas fa-user-shield icon" title="Datenschutz" style="margin-left:0.5em; cursor:pointer;"
            onclick="window.location.href='/datenschutz.html'"></i>
    </p>
</footer>