<div class="graph-auto diagramm" data-funktionen="{{ include.funktionen | escape }}"
    data-punkte="{{ include.punkte | escape }}" data-flaechen="{{ include.flaechen | escape }}"
    data-titel="{{ include.titel | default: '' }}" data-xachse="{{ include.xachse | default: '' }}"
    data-yachse="{{ include.yachse | default: '' }}" data-xmin="{{ include.xmin | default: '' }}"
    data-xmax="{{ include.xmax | default: '' }}" data-ymin="{{ include.ymin | default: '' }}"
    data-ymax="{{ include.ymax | default: '' }}"></div>