<nav class="nav-materialtyp">
  <ul>
    <li>
      <a href="start.html" class="nav-link"
        ><i class="fa-solid fa-house"></i> Start</a
      >
    </li>
    <li>
      <a href="skript.html" class="nav-link"
        ><i class="fa-solid fa-scroll"></i> Skript</a
      >
    </li>
    <li>
      <a href="kompetenzliste.html" class="nav-link"
        ><i class="fa-solid fa-list-check"></i> Kompetenzliste</a
      >
    </li>
    <li>
      <a href="uebungen.html" class="nav-link"
        ><i class="fa-solid fa-pen-to-square"></i> Übungen</a
      >
    </li>
  </ul>
</nav>
