<nav class="nav-lernbereiche">
  <button class="hamburger" aria-label="Menü öffnen" onclick="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a class="logo" href="/index.html">MatheChecks</a>
  <ul class="menu hidden" id="main-menu">
    <li class="stochastik">
      <a
        href="{{ '/lernbereiche/stochastik/zufallsexperimente-und-wahrscheinlichkeiten/start.html' | relative_url }}"
        >Zufallsexperimente und Wahrscheinlichkeiten</a
      >
          <li class="stochastik">
      <a
        href="{{ '/lernbereiche/stochastik/mehrstufige-zufallsexperimente/start.html' | relative_url }}"
        >Mehrstufige Zufallsexperimente</a
      >
    </li>
    </li>
    <li class="stochastik">
      <a
        href="{{ '/lernbereiche/stochastik/bedingte-wahrscheinlichkeiten/start.html' | relative_url }}"
        >Bedingte Wahrscheinlichkeit</a
      >
    </li>
    <li class="stochastik">
      <a
        href="{{ '/lernbereiche/stochastik/binomialverteilung/start.html' | relative_url }}"
        >Binomialverteilung</a
      >
    </li>
    <li class="analysis">
      <a
        href="{{ '/lernbereiche/analysis/lineare-funktionen/start.html' | relative_url }}"
        >Lineare Funktionen</a
      >
    </li>
    <li class="analysis">
      <a
        href="{{ '/lernbereiche/analysis/quadratische-funktionen/start.html' | relative_url }}"
        >Quadratische Funktionen</a
      >
    </li>
    <li class="lineare-algebra">
      <a
        href="{{ '/lernbereiche/analysis/lineare-gleichungssysteme/start.html' | relative_url }}"
        >Lineare Gleichungssysteme</a
      >
    </li>
  </ul>
</nav>
