<nav class="nav-materialtyp">
  <ul>
    <li>
      <a href="start.html" class="nav-link" title="Startseite">
        <i class="fa-solid fa-house"></i> <span class="nav-text">Start</span>
      </a>
    </li>
    <li>
      <a href="kompetenzliste.html" class="nav-link" title="Kompetenzliste">
        <i class="fa-solid fa-list-check"></i>
        <span class="nav-text">Checkliste</span>
      </a>
    </li>
    <li>
      <a href="uebungen.html" class="nav-link" title="Übungen">
        <i class="fa-solid fa-pen-to-square"></i>
        <span class="nav-text">Training</span>
      </a>
    </li>

    <li>
      <a href="skript.html" class="nav-link" title="Skript">
        <i class="fa-solid fa-scroll"></i> <span class="nav-text">Skript</span>
      </a>
    </li>
    <li>
      <a href="flashcards.html" class="nav-link" title="Flashcards">
        <i class="fa-solid fa-clone"></i>
        <span class="nav-text">Flashcards</span>
      </a>
    </li>
  </ul>
</nav>