<nav class="nav-lernbereiche">
  <button class="hamburger" aria-label="Menü öffnen" onclick="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a class="logo" href="/index.html">MatheChecks</a>
  <ul class="menu hidden" id="main-menu">
    <li class="stochastik"><a href="/lernbereiche/stochastik/bedingte-wahrscheinlichkeiten/skript.html">Bedingte Wahrscheinlichkeit</a></li>
    <li class="stochastik"><a href="/lernbereiche/stochastik/binomialverteilung/skript.html">Binomialverteilung</a></li>
    <li class="analysis"><a href="/lernbereiche/analysis/lineare-funktionen/skript.html">Lineare Funktionen</a></li>
    <li class="analysis"><a href="/lernbereiche/analysis/quadratische-funktionen/skript.html">Quadratische Funktionen</a></li>
    <li class="lineare-algebra"><a href="/lernbereiche/lineare-algebra/vektoren/skript.html">Vektoren</a></li>
  </ul>
</nav>



