table {
  width: 100%;
  border-spacing: 0 1rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border-collapse: separate;
}

thead th {
  text-align: left;
  padding: 1rem 1.5rem;
  color: #444;
  background-color: #fafafa;
  border-bottom: none;
}

tbody tr {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

tbody tr:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  transform: translateY(-4px);
  background-color: #deeaef;
}

tbody td {
  padding: 1rem 1.5rem;
  border-top: none;
  vertical-align: middle;
}

tbody td:first-child {
  width: 3rem;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: var(--hauptfarbe);
  border-radius: 12px 0 0 12px;
}
