:root {
  --hauptfarbe: #156082;
  --hauptfarbe-hover: #1d7ca6;
  --hintergrund-hell: #deeaef;
  --hintergrund-hell-hover: #bce1f1;
  --textfarbe: #333;
  --hintergrundfarbe: #f8f8f8;
  --hintergrundfarbe-hover: hsl(0, 0%, 89%);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  /* Füllt den verfügbaren Platz */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--hintergrundfarbe);
  color: var(--textfarbe);
  margin: 0;
  font-size: 1rem;
}

header {
  background: linear-gradient(to bottom,
      var(--hintergrundfarbe) 90%,
      #f8f8f8a1 100%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-bottom: 0px;
  /* evtl auf null*/
}

h1 {
  color: var(--hauptfarbe);
  padding: 0.5rem 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  color: var(--hauptfarbe);
}

h4 {
  background-color: var(--hauptfarbe);
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 0;
  border-radius: 12px 12px 0 0;
  padding: 6px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #888;
  height: 50px;
}

main {
  padding: 12rem 1rem 1rem 1rem;
}

img,
.diagramm {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.diagramm {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

mjx-container[display="true"] {
  /* Für MathJax Version 3 */
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

i:hover {
  cursor: pointer;
}

/*
#markdown-toc {
  z-index: 1000;

  background: var(--hintergrundfarbe);
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1.5rem;
  list-style: none;

  overflow-x: auto;

  margin-top: 0;
  margin-bottom: 0;
}

#markdown-toc > li {
  white-space: nowrap;
}

#markdown-toc a {
  text-decoration: none;
  color: #156082;
  font-weight: 500;
  padding: 0.5rem 1rem;

  transition: background-color 0.3s, color 0.3s;
}

#markdown-toc a:hover,
#markdown-toc a:focus {
  background-color: var(--hintergrund-hell);
}

#markdown-toc a.active {
  color: var(--hauptfarbe);
  font-weight: bold;
}

.toc-container {
  position: sticky;
  top: 130px;
  z-index: 1000;
  background: var(--hintergrundfarbe);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

.toc-scroll {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  flex: 1;
}

.toc-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 0.5rem;
  user-select: none;
  flex-shrink: 0;
}

.toc-container + * {
  padding-top: 10rem;
}
*/