:root {
  --hauptfarbe: #156082;
  --hauptfarbe-hover: #1d7ca6;
  --textfarbe: #333;
  --hintergrundfarbe: #f8f8f8;
  --hintergrundfarbe-hover: hsl(0, 0%, 89%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--hintergrundfarbe);
  color: var(--textfarbe);
  margin: 0;
}

header {
  background: linear-gradient(to bottom, var(--hintergrundfarbe) 80%, #f8f8f8a1 100%);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 30px;
}



h1 {
  color: var(--hauptfarbe);
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  color: var(--hauptfarbe);
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #888;
  height: 50px;
}

main {
  padding: 20px;
}

mjx-container[display="true"] {
  /* Für MathJax Version 3 */
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

i:hover {
  cursor: pointer;
}
