figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

figure figcaption {
  color: #7a7a7a;
  padding: 5px;
  align-self: flex-end;
}

iframe {
  width: 560px;
  max-width: 95vw;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0;
}

.tooltip {
  position: relative;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  text-decoration: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.flip-card {
  margin: 1.5em 0;
  line-height: 1.5;
}

.flip-card summary {
  background-color: #deeaef;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.flip-card summary:hover {
  background-color: #bce1f1;
}

.flip-card details {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flip-card[open] {
  background: #ffffff;
}
.flip-card summary::-webkit-details-marker {
  display: none;
}

.flip-card[open] div {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flip-card div table {
  margin-top: 1em;
}

/* info */
.info {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.info-card {
  line-height: 1.25;
}

.info-card summary {
  background-color: #fddef3;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
}

.info-card summary:hover {
  background-color: #f9cfeb;
}
.info-card div {
  padding: 0.5rem 1rem;
}

details summary {
  list-style: none;
}

.info summary p,
.info summary ul,
.info summary div,
.info summary {
  margin-top: 0;
  margin-bottom: 0;
}

.info details > div p,
.info details > div table {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/*Elemente*/
.diagramm-row {
  display: flex;
  gap: 10px; /* Abstand zwischen den Elementen */
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; /* Optional: Zeilenumbruch auf kleinen Bildschirmen */
  margin-bottom: 2rem;
}

.eingabe-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 340px;
  margin: 0 auto 20px auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 18px 20px;
  box-shadow: 0 2px 8px #0001;
}
.eingabe-zeile {
  gap: 12px;
  justify-content: space-between;
}
.eingabe-zeile label {
  min-width: 140px;
}
.eingabe-zeile input[type="range"] {
  flex: 1;
  margin-left: 10px;
}
.eingabe-zeile:last-child {
  justify-content: center;
}
input[type="range"]:hover {
  cursor: ew-resize;
}
