table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5em 1em;
  text-align: center;
}

thead {
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 80px;
  width: 80px;
  margin-top: 10px;
  height: 2rem;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select2-container--default .select2-selection--single {
  height: 2rem !important;
}

.aufgabe {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.wrapper {
  padding: 20px;
}
/* Flexcontainer innerhalb .aufgabe */
.aufgabe > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

/* Spaltenaufteilung */
.aufgabe > div > .einleitung,
.aufgabe > div > ol {
  width: 50%;
  box-sizing: border-box;
}

/* Listen */
.aufgabe ol,
.aufgabe ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.aufgabe li {
  background-color: var(--hintergrund-hell);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.aufgabe li + li {
  margin-top: 20px;
}

.aufgabe li:hover {
  background-color: var(--hintergrund-hell-hover);
}

.aufgabe + .aufgabe {
  margin-top: 40px;
}

.symbolleiste {
  font-size: 1em;
  background-color: white !important;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  gap: 30px;
}

.antwort-statisch {
  color: var(--hauptfarbe);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.2rem;
  margin-top: 5px;
}

.check-icon,
.check-all-icon {
  color: #156082ce;
  cursor: pointer;
}
.check-icon:hover,
.check-all-icon:hover {
  color: #156082;
}

.eye-icon {
  color: #e2a92db0;
}
.eye-icon:hover {
  color: #e2a92d;
}
.reload-icon {
  color: #19a35ead;
}
.reload-icon:hover {
  color: #19a35e;
}
.pdf-icon {
  color: #e03d31a8;
}
.pdf-icon:hover {
  color: #e03c31;
}
.assistenz-icon,
.skript-icon {
  color: var(--infofarbe);
}
.assistenz-icon:hover,
.skript-icon:hover {
  color: #693c77e4;
}
.whatapp-icon {
  color: #075e54;
}
.whatapp-icon:hover {
  color: #043d36;
}

@keyframes border-draw {
  0% {
    /*border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;*/
  }
  50% {
    /*    border: 3px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
    border-color: var(--hauptfarbe); */
    background-color: #f6ff00;
  }
  100% {
    /*border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;*/
  }
}

.highlight-border {
  animation: border-draw 1.5s ease forwards;
}

@media (max-width: 768px) {
  .aufgabe > div {
    flex-direction: column;
    gap: 0rem;
  }
  .aufgabe > div > .einleitung,
  .aufgabe > div > ol {
    width: 100%;
  }
}
