<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head-main.html %} {% include mathjax.html %}
    <link rel="stylesheet" href="/assets/css/kompetenzliste.css" />
  </head>
  <body>
    <header>
      {% include nav-lernbereiche.html %}
      <h1>{{ page.title }}</h1>
      {% include nav-materialtyp.html %}
    </header>
    <main>
      <table id="tabelle">
        <thead>
          <tr>
            <th>Ich kann</th>
          </tr>
        </thead>
        <tbody id="tabellenkoerper"></tbody>
      </table>
    </main>

    {% include footer.html %}

    <script src="/assets/js/nav.js"></script>
    <script>
      const zielLernbereich = "{{ page.lernbereich }}";
      console.log("Lernbereich:", zielLernbereich);
      fetch("/kompetenzliste.json")
        .then((response) => response.json())
        .then((daten) => {
          const tbody = document.getElementById("tabellenkoerper");
          const gefiltert = daten.filter(
            (eintrag) => eintrag.Lernbereich === zielLernbereich
          );

          gefiltert.forEach((eintrag) => {
            const zeile = document.createElement("tr");
            zeile.innerHTML = `<td>${eintrag["Ich kann"]}</td>`;
            tbody.appendChild(zeile);
          });
        });
    </script>
  </body>
</html>
