<!DOCTYPE html>
<html lang="de">

<head>
  {% include firebase-config.html %} {% include head-main.html %} {% include
  mathjax.html %}
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
  <!-- mathjs-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.8.0/math.min.js"></script>
  <!-- Allgemeine Graphen -->
  <script src="{{ '/assets/js/zeichneGraph.js' | relative_url }}"></script>
</head>

<body>
  <header>
    {% include nav-lernbereiche.html %}
    <h1>{{ page.title }}</h1>
    {% include nav-materialtyp.html %}
  </header>
  <main style="margin-top: -30px">
    {{ content }}
    <h2>Übungen als Export</h2>

    <a href="{{ '/xml/' | append: page.gebiet  | append: '/' | append: page.lernbereich |  append: '.zip' | relative_url }}"
      download class="link-button">Moodle-XML-Format</a>(ausgenommen statische Übungen und Multiple-Choice-Übungen mit
    LaTeX-Formeln)
    <a href="{{ '/anki/' | append: page.gebiet  | append: '/' | append: page.lernbereich | append: '.apkg' | relative_url }}"
      download class="link-button">Anki-Paket</a>
  </main>

  {% include footer.html %} {% include firebase-auth.html %}
  <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/calculator.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/firebase.js' | relative_url }}"></script>
  <!--<script src="{{ '/assets/js/start.js' | relative_url }}"></script>-->
  <script src="/assets/js/cookie-consent.js"></script>
</body>

</html>