<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head-main.html %} {% include mathjax.html %}
    <link rel="stylesheet" href="/assets/css/uebungen.css" />
  </head>
  <body>
    <header>
      {% include nav-lernbereiche.html %}
      <h1>{{ page.title }}</h1>
      {% include nav-materialtyp.html %}
    </header>
    <main></main>

    {% include footer.html %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/uebungen.js"></script>
  </body>
</html>
